html,
body {
	overflow-x: hidden;
	box-sizing: border-box;
	pointer-events: auto;
}

body {
	position: relative;
	min-width: 320px;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
}

::-webkit-scrollbar {
	width: 0;
}
