@keyframes centerCatAppear1 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(40%);
	}
}

@keyframes centerCatAppear2 {
	0% {
		transform: translateY(40%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes scaleResultCat {
	100% {
		transform: translateY(-16vh) scale(0.5);
	}
}

@keyframes hideResultTitle {
	100% {
		opacity: 0;
	}
}

@keyframes scaleResultType {
	100% {
		transform: translateY(-12vh) scale(0.8);
	}
}

@keyframes showResultText {
	100% {
		opacity: 1;
	}
}

@keyframes cashAppear {
	0% {
		opacity: 0;
		transform: rotate(-45deg);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes flight_bcg {
	0% {
		opacity: 1;
		transform: translateY(3452px);
	}
	99.99% {
		opacity: 1;
		transform: translateY(-3452px);
	}
	100% {
		opacity: 0;
		transform: translateY(3452px);
	}
}

@keyframes hideCenterCat {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
	99.99% {
		opacity: 1;
		transform: translate(-50%, 100%);
	}
	100% {
		opacity: 0;
	}
}

@keyframes hideButton {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 100%);
	}
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes showButton {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes showQuestion {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes showQuestionAltXl {
	0% {
		opacity: 0;
		top: 223px;
	}
	100% {
		opacity: 1;
		top: 123px;
	}
}

@keyframes showQuestionAltSm {
	0% {
		opacity: 0;
		top: 308px;
	}
	100% {
		opacity: 1;
		top: 208px;
	}
}

@keyframes showQuestionAltXs {
	0% {
		opacity: 0;
		top: 10vh;
	}
	100% {
		opacity: 1;
		top: 8vh;
	}
}

@keyframes scaleQuestion {
	0% {
		transform: scale(1) translateY(0);
	}
	100% {
		transform: scale(0.87) translateY(-30px);
	}
}

@keyframes hideTail {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes showRightCat {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes hideRightCat {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes showLeftCat {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes hideLeftCat {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes moveAnswers {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes moveAwayTop {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-200%);
	}
}

@keyframes moveFinalBlock {
	0% {
		transform: translateY(80%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes showFinalBlock {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(80%);
	}
}

@keyframes emailError {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes rotatePhone {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}
